.badge-gray{
    background-color: gray;
}

.badge-silver{
    background-color: silver;
}

.badge-blue{
    background-color: blue;
}

.badge-navy{
    background-color: navy;
}

.badge-teal{
    background-color: teal;
}

.badge-green{
    background-color: green;
}

.badge-lime{
    background-color: lime;
}

.badge-aqua{
    background-color: aqua;
}

.badge-yellow{
    background-color: yellow;
}

.badge-red{
    background-color: red;
}

.badge-fuchsia{
    background-color: fuchsia;
}

.badge-olive{
    background-color: olive;
}

.badge-purple{
    background-color: purple;
}

.badge-maroon{
    background-color: maroon;
}

.question-label{
    font-size: 25px;
}

