.btnspinner{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.spinner_area input{
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    width: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    text-align: center;
}

.spinner_area input[type="button"]{
    cursor: pointer;
}
